args==0.1.0
beautifulsoup4==4.13.4
certifi==2025.7.14
chardet==5.2.0
Click==8.2.1
clint==0.5.1
idna==3.10
praw==7.8.1
prawcore==3.0.2
prompt-toolkit==3.0.52
Pygments==2.19.2
reddit-cli==0.1
redditcli==2.1.0
reg==0.12
regex==2024.11.6
repoze.lru==0.7
requests==2.32.4
six==1.17.0
soupsieve==2.7
termcolor==3.1.0
tqdm==4.67.1
update-checker==0.18.0
urllib3==2.5.0
wcwidth==0.2.13
websocket-client==1.8.0
