args==0.1.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
Click==7.1.2
clint==0.5.1
idna==2.10
praw==7.1.0
prawcore==1.5.0
prompt-toolkit==3.0.8
Pygments==2.7.4
reddit-cli==0.1
redditcli==2.1.0
reg==0.12
regex==2020.10.28
repoze.lru==0.7
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
termcolor==1.1.0
tqdm==4.51.0
update-checker==0.18.0
urllib3==1.25.11
wcwidth==0.2.5
websocket-client==0.55.0
