args==0.1.0
beautifulsoup4==4.12.3
certifi==2024.8.30
chardet==5.2.0
Click==8.1.7
clint==0.5.1
idna==3.8
praw==7.8.1
prawcore==2.4.0
prompt-toolkit==3.0.51
Pygments==2.18.0
reddit-cli==0.1
redditcli==2.1.0
reg==0.12
regex==2024.7.24
repoze.lru==0.7
requests==2.32.4
six==1.16.0
soupsieve==2.6
termcolor==2.4.0
tqdm==4.66.5
update-checker==0.18.0
urllib3==2.2.2
wcwidth==0.2.13
websocket-client==1.8.0
